@model FudeeTestApi.Models.Restaurant


@{
    ViewData["Title"] = "Usuwanie";
}

<a asp-action="Index" class="fw-bolder purple"> < Lista dań</a>
<div class="header-box orange">
    <h2>usuń danie</h2>
</div>

@{
    if (!String.IsNullOrEmpty(ViewBag.DeleteMessage))
    {
        <h5 class="alert alert-danger" role="alert"><i class="bi-info-circle"></i>&nbsp;@ViewBag.DeleteMessage</h5>
    }
    else
    {
        <h5 class="alert alert-danger" role="alert"><i class="bi-info-circle"></i>&nbsp;Czy napewno chcesz usunąć tę kategorię?</h5>

    }
}
<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasDelivery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasCatering)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasCatering)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Events)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Events)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.DescriptionCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialMedia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialMedia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @{
            if (String.IsNullOrEmpty(ViewBag.DeleteMessage))
            {
                                <input type="hidden" asp-for="RestaurantId" />
                <input type="submit" value="Usuń" class="btn purple-bg max-width-center mb-3" />

            }
        }
    </form>
</div>
